<!DOCTYPE html>
<html>
<head>
    <title>RSVP Site</title>
</head>
<body>
    <h1>404-OOPS!</h1>
    <h6>Chillax! You might have just misclicked.</h6>
        
    <p>Page does not exist.</p>



</body>
</html>

