<!DOCTYPE html>
<html>
<head>
    <title>RSVP Site</title>
</head>
<body>
    <h1>Really Good RSVP Site - About Me</h1>
    <h6>CEO: R.S. Vipi</h6>
        
    <p>The Vipi family has always been known for managing RSVPS. This is us shifting the burden onto the computers(because laziness).</p>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/">Main</a></li>
        <li><a href="/rsvp">RSVP</a></li>
    </ul>


</body>
</html>

