<!DOCTYPE html>
<html>
<head>
    <title>RSVP Site</title>
</head>
<body>
    <%- include('./partials/head.ejs')%>
    <h6>CEO: R.S. Vipi</h6>
        
    <p>The Vipi family has always been known for managing RSVPS. This is us shifting the burden onto the computers(because laziness).</p>
    
    <%- include('./partials/nav.ejs')%>

</body>
</html>

