<!DOCTYPE html>
<html>
<head>
    <title>RSVP Site</title>
</head>
<body>
    <h1>Really Good RSVP Site</h1>
    <h6>RSVP NOW(It's not a scam)</h6>
        
    <p>You are RSVPing for RSVPcon, the party for people who enjoy RSVPing!</p>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/">Main</a></li>
    </ul>
</body>
</html>

