<!DOCTYPE html>
<html>
<head>
    <title>RSVP Site </title>
</head>
<body>
    <%- include('./partials/head.ejs')%>
    <% let time = new Date().getMonth() + '/' + new Date().getDay() %>
    
        
    <p>You are RSVPing for RSVPcon, the party for people who enjoy RSVPing!</p>
    <p><%= time%></p>
    <%- include('./partials/nav.ejs')%>
    
</body>
</html>

