<html>
    <head>
        <title> RSVP HERE!!!</title>
    </head>
    <body>
        <%- include('./partials/head.ejs')%>
        <form id="form" name="RSVP form" accept-charset="utf-8" action="" method="post">
            <label for="full-name">Full Name</label>
            <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
            <br>
            <label for="attending">Will you Attend?</label>
            <select name="attending" id="attending" required="">
                <option value="" selected="" disabled="">Select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br>
            <input type="submit" value="RSVP">
        </form>
        <%- include('./partials/nav.ejs')%>
        <h3> Other Guests - (Very Secure, Totally)</h3>
        <ul>
            <%if(guests.length > 0) { %>
                <%guests.forEach(guest=>{%>
                    <li>
                        <h3 class = "name">Name: <%=guest.name%></h3>
                        <p class = "attending">Are they going?: <%=guest.attending%></p>
                    </li>

                <%})%>
            <%} else {%>
                <p>No attendees...</p>
            <%}%>
        </ul>
        
    </body>
</html>
